.gallery {
  margin-top: 85.5px;
  margin-bottom: 60px;

  h1 {
    font-family: "Gill Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10.5px;
  }

  .gallerySection {
    display: flex;
    gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .galleryImage {
      height: 187px;
      flex: 20%;
      position: relative;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.2s ease-in-out, background -1s ease;
      cursor: pointer;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $csGold;
        opacity: 70%;
      }
      &:hover {
        transform: scale(1.03);
      }
      &:nth-of-type(1) {
        .overlay {
          background-color: $csGold;
        }
        @include backgroundImage("../images/gallery/1.png");
        flex: 51%;
      }
      &:nth-of-type(2) {
        .overlay {
          background-color: $csPink;
        }
        @include backgroundImage("../images/gallery/2.jpeg");
        flex: 18%;
      }
      &:nth-of-type(3) {
        .overlay {
          background-color: $csGreen;
        }
        @include backgroundImage("../images/gallery/3.jpg");
        flex: 26%;
      }
      &:nth-of-type(4) {
        .overlay {
          background-color: $csPurple;
        }
        @include backgroundImage("../images/gallery/4.jpg");
        flex: 62%;
        height: 306px;
      }
      &:nth-of-type(5) {
        .overlay {
          background-color: $csTurquoise;
        }
        @include backgroundImage("../images/gallery/5.png");
        flex: 35%;
        height: 306px;
      }
    }
  }
}

.galleryShowcase {
  width: 90%;
  margin-top: 50px;
  .galleryHero {
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 490 / 133;
    background-image: url("../images/gallery/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .overlay {
      background-color: $csGold;
      opacity: 70%;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .text {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: baseline;
      justify-content: left;
      color: $csGold;
      text-shadow: rgba(0, 0, 0, 0.918) 0px 0 10px;
      text-wrap: nowrap;
      bottom: -40px;
      margin-bottom: -28px;
      h1 {
        font-family: "Gill Sans";
        font-size: 300px;
        font-weight: 500;
        margin: 0;
      }
      h2 {
        font-family: "Gill Sans";
        font-size: 140px;
        font-weight: 400;
        // margin: 0;
        transform: translateY(4px);
      }
    }
  }

  .galleryContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 70px;

    font-family: "Gill Sans";
    font-size: 16px;
    font-weight: 100;
    font-style: italic;

    p:nth-child(1) {
      flex: 52%;
    }
    p:nth-child(2) {
      flex: 47%;
    }
  }
}
.galleryShowcase.type2 {
  .galleryHero {
    .overlay {
      background-color: $csPink;
    }
    .text {
      color: $csPink;
    }
  }
}
.galleryShowcase.type3 {
  .galleryHero {
    .overlay {
      background-color: $csGreen;
    }
    .text {
      color: $csGreen;
    }
  }
}
.galleryShowcase.type4 {
  .galleryHero {
    .overlay {
      background-color: $csPurple;
    }
    .text {
      color: $csPurple;
    }
  }
}
.galleryShowcase.type5 {
  .galleryHero {
    .overlay {
      background-color: $csTurquoise;
    }
    .text {
      color: $csTurquoise;
    }
  }
}
