.home {
  .hero {
    margin-top: -91px;
    height: 500px;
    background-image: url("../images/home-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .overlay {
      background-color: $csGold;
      width: 100%;
      position: absolute;
      height: 100%;
      opacity: 80%;
    }
    .content {
      height: calc(100% - 91px);
      width: 420px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 1;
      z-index: 100;
      color: white;

      h1 {
        font-family: "PT Serif";
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        margin-bottom: 9px;
      }
      h2 {
        font-family: "Gill Sans";
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 49px;
        color: $csPink;
      }
      p {
        font-family: "Gill Sans";
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 48px;
        color: white;
      }
      a {
        @include site-btn;
        &:hover {
          box-shadow: rgb(0, 0, 0) 0px 0 7px;
        }
      }
    }
  }

  .quoteBox {
    max-width: 789px;
    margin: 0 auto;
    padding: 77px 0px;
    h2 {
      font-family: "Gill Sans Medium", sans-serif;
      font-size: 15px;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 20px;
      color: $csGold;
      letter-spacing: 1.4px;
    }
    h1 {
      font-family: "PT Serif", serif;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 5px;
      color: $csPink;
    }
    h3 {
      font-family: "PT Serif", serif;
      font-size: 10px;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 5px;
      color: #a8a8a8;
    }
  }
  .eventsbg {
    background-color: $csPurple;
    .upcomingEvents {
      padding: 50px 40px 72px 40px;
      margin: 0 auto;
      max-width: 1600px;
      h1 {
        font-family: "Gill Sans", sans-serif;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        margin-bottom: 10.5px;
        color: white;
        letter-spacing: 1.4px;
      }
      hr {
        width: 392px;
        border-width: 1px;
        border-color: white;
        border-style: solid;
      }

      .events {
        margin-top: 33px;
        display: flex;
        gap: 20px;
        .event {
          align-items: flex-start;
          display: flex;
          flex: 1;

          .date {
            max-width: 60px;
            aspect-ratio: 60/60;
            flex: 1;
            background-color: $csPink;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;

            h1 {
              font-family: "Gill Sans";
              font-weight: bold;
              font-size: 22px;
              margin: 0;
            }
            h2 {
              font-family: "Gill Sans";
              font-weight: 100;
              font-size: 12px;
              margin: 0;
            }
          }
          .details {
            max-width: 188px;
            flex: 1;
            padding-left: 20px;
            h1 {
              font-family: "Gill Sans";
              font-weight: 400;
              font-size: 15px;
              margin: 0;
              color: white;
              margin-bottom: 20px;
            }
            h2 {
              font-family: "Gill Sans";
              font-weight: 400;
              font-size: 13px;
              margin: 0;
              color: $csPink;
            }
          }
        }
      }
    }
  }
}
