@mixin site-btn {
  padding: 11px 28px;
  background-color: $csPink;
  color: white;
  text-decoration: none;

  font-family: "Gill Sans";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  color: white;
}

@mixin wrapper {
  width: 90%;
  max-width: $wrapperWidth;
  margin: 0 auto;
}

@mixin horizontalRule {
  margin: 15.8px 0 36px 0;
  border-color: black;
  max-width: 229px;
  border-style: solid;
}

@mixin backgroundImage($imageSrc) {
  background-image: url($imageSrc);
}
