nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 91px;
  border-bottom: 2px solid black;
  max-width: $wrapperWidth;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  width: 90%;

  .logo {
    width: 92px;
    aspect-ratio: 92/42;
    background-image: url("../images/logo/logo-black.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    a {
      color: black;
      text-decoration: none;
      text-transform: lowercase;
      position: relative;

      &:not(:last-child):before {
        content: "|";
        color: $csPink;
        font-size: 20px;
        font-weight: bold;
        font-family: monospace;
        margin: 0;
        position: absolute;
        right: -23px;
        transform: skewX(-30deg);
        pointer-events: none;
        font-style: normal;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      text-decoration: underline;
      font-style: italic;
    }
  }
}

.nav-white {
  .links {
    a {
      color: white;
    }
  }
  .logo {
    background-image: url("../images/logo/logo-white.svg");
  }
  border-color: white;
}
